////////////////////////////////////////////////////////////////////////////////////////////////////
// Angular Material
////////////////////////////////////////////////////////////////////////////////////////////////////
@import '~@angular/material/theming';

@include mat-core();

// using deeppurple-amber color combo: https://github.com/angular/material2/blob/master/src/lib/core/theming/prebuilt/deeppurple-amber.scss
$primary: mat-palette($mat-deep-purple);
$accent:  mat-palette($mat-amber, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);

////////////////////////////////////////////////////////////////////////////////////////////////////
// ag-Grid 
////////////////////////////////////////////////////////////////////////////////////////////////////
@import '~ag-grid/src/styles/ag-grid';

// adjust the icons path
$ag-mat-icons-path: "~ag-grid/src/styles/material-icons/";

// set the colors to the ones from the material theme
$ag-mat-primary: mat-color($primary);
$ag-mat-accent: mat-color($accent);

// Import the ag-Grid material-next theme
@import '~ag-grid/src/styles/theme-material-next';

body, html {
    margin: 0;
    padding: 0;
}

#grid-container {
    width: 80%;
    margin: 24px;
}
